body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Medium.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header__icon {
  height: 33px;
  margin-top: 30px;
  width: 154px;
  background: #ff9dbb;
  background: -webkit-linear-gradient(left, #ff9dbb, #cca5ff);
  background: -moz-linear-gradient(left, #ff9dbb, #cca5ff);
  background: linear-gradient(to right, #ff9dbb, #cca5ff);

  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.065em;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.header__user__name {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  position: absolute;
  margin-left: 100px;

  color: #0f233d;
}

.nav__content {
  display: flex;
  justify-content: left;
  width: 304px;
  margin-top: 23.5px;
}

.nav__icons {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.nav__titles {
  display: flex;
  flex-direction: column;
}
.nav__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
.nav__title {
  height: 24px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #0f233d;
}

.container {
  display: flex;
}

.schedule {
  margin-top: 23.5px;
  display: flex;
  flex-direction: row;
}
.schedule__block {
  background: #ffc8bb;
  background: -webkit-linear-gradient(left, #ffc8bb, #ffa6cc);
  background: -moz-linear-gradient(left, #ffc8bb, #ffa6cc);
  background: linear-gradient(to right, #ffc8bb, #ffa6cc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px;
  width: 142px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.schedule__title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  padding: 10px 18px;
}

.footer {
  background-image: url("../public/img/Wave.svg");
  margin-top: 20px;
  height: 118px;
  padding: 60px 0px;
}

.footer__place {
  display: flex;
}

.footer__paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f233d;
  margin-left: 10px;
}

.content{
  height: 435px;
  overflow: hidden
}

.content__block {
  display: flex;
  background: rgba(205, 164, 253, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  justify-content: space-between;
  width: 810px;
  margin: 10px auto;
}
.content__left {
  display: flex;
  flex-direction: row;
}
.content__right {
  display: flex;
  flex-direction: row;
}
.content__block__icon {
  width: 60px;
  height: 60px;
  margin: 20px 15px;
}

.content__block__heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 0px;
  color: #000000;
}

.content__block__paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0f233d;
}

.content__block__left {
  display: flex;
  flex-direction: column;
}
.content__block__right {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.content__block__test {
  display: flex;
  flex-direction: column;
  margin: 14px 15px;
}
.content__block__first__line {
  margin-top: 5px;
  margin-bottom: 6px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.content__block__second__line {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  margin-bottom: 6px;
  justify-content: right;
}

.content__block__third__line {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  justify-content: right;
}

.content__block__test__text {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.content__block__line__icon {
  margin: 0px 12px 0px 0px;
}

.login {
  background: url(../public/img/bac_login.svg) no-repeat;
}

.cart {
  padding: 20px 20px;
  width: 440px;

  display: flex;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #979797;
  border-radius: 30px;

  margin-bottom: 85px;
}

.flexColum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr {
  width: 391px;
  margin: 0;
  size: 0px;
  border: 1px solid #0f233d;
  background-color: #0f233d;
  border-radius: 10px;
}

.input {
  border: 0px;
  width: 391px;
  height: 30px;
  margin-top: 35px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.165em;

  color: #8b8b8b;
}

.inputBox {
  margin-bottom: 35px;
}

.btnCart {
  width: 400px;
  height: 59px;

  background: linear-gradient(
    91.25deg,
    rgba(253, 157, 189, 0.5) 0%,
    rgba(204, 164, 254, 0.5) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  margin-top: 30px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.335em;
  text-transform: uppercase;

  color: #ffffff;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__img {
  width: 393px;
  height: 262px;
}

.event__illustration{
  margin: 33px 0px;
}

.event__Add{
  margin-top: 23.5px;
  width: 952px;
  background: #FDF3FD;
  background: -webkit-linear-gradient(top left, #FDF3FD, #F4DEEF);
  background: -moz-linear-gradient(top left, #FDF3FD, #F4DEEF);
  background: linear-gradient(to bottom right, #FDF3FD, #F4DEEF);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.event__add__icon{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.event__add__text{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #9A9A9A;
  margin-bottom: 8px;
}

.event__block{
  width: 952px;
  background: #FDF3FD;
  background: -webkit-linear-gradient(top left, #FDF3FD, #F4DEEF);
  background: -moz-linear-gradient(top left, #FDF3FD, #F4DEEF);
  background: linear-gradient(to bottom right, #FDF3FD, #F4DEEF);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding: 30px;
  height: 250px;

  margin-bottom: 20px;
}

.event__block__container{
  display: flex;
  justify-content: space-between;
}

.event__container{
  display: flex;
  flex-direction: column;
}

.event__block__container__elements{
  width: 600px;
  display: flex;
  flex-direction: column;
}

.event__block__container__heading{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #0F233D;
}

.event__block__container__paragraph{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #0F233D;

  margin-top: 25px;
}
.limitation{
  height: 505px;
  overflow: hidden
}

.event__block__container__footer{
  margin-top: 35px;
  display: flex;
  justify-content: space-between;

}

.event__block__container__footer__button{
  width: 230px;
  height: 40px;
  background-color: #CDDFF6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
}

.event__block__container__footer__button__text{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0F233D;
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.event__block__container__footer__management{
  display: flex;
  flex-direction: row;
}

.event__block__container__footer__management__text{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #0F233D;
  display: flex;
  align-items: center;
  margin: 0px 6px;
}

.event__block__container__footer__management__margin{
  margin-left: 6px;
}